
		#footer{

			padding: 10px;
			background-color: rgb(200, 67, 78);
			border-radius: 15px;
			text-align: center;
		}

		.header-style{

			padding: 10px;
			background-color: rgb(200, 67, 78);
			border-radius: 15px;
			text-align: center;
			font-family: Arial, poppins, sans-serif;
		}
		
		}
		#survey-form{

	 		padding: 30px;
	 		padding-top: 30px;
	 		border-radius: 5px;
	 		margin: 50px;

		}
		.Survey-title{

			text-align: center;
		}
		body{
			background-image: url("ptm.jpg");
			background-color: #754e79;
			border-radius: 15px;
		}
input[type=text], [type=number], [type=email], select {

	width: 65%;
	padding: 12px;
	border: 1px solid #ccc
	border-radius:4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
}
input[type=submit]{

	background-color: rgb(234, 56, 78);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}
button[type=submit]:hover{
	background-color: rgb(23, 34, 56);
}
#textarea{

	width: 300px;
	height: 150px;
	resize: vertical;
	 border-radius: 3px;
}